<div class="container">
  <div class="menu">
      <a href="/about">
        <h1 class="left">
          <em>Go/CoolSearch</em>
        </h1>
      </a>
    <div class="left links">

    </div>
  </div>
  <div class="body">
    {{outlet}}
  </div>
</div>