<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Welcome!</h2>
  <p>
    We hope you find exactly what you're looking for in a place to stay.
    <br>Browse our listings, or use the search box below to narrow your search.
  </p>
</div>

<!-- {{#each model as |meetingroom|}}
  {{meetingroom-listing meetingroom=meetingroom}}
{{/each}} -->

{{#meetingroom-filter filter=(action 'filterByName') as |meetingrooms|}}
  <ul class="results">
    {{#each meetingrooms as |meetingroom|}}
      <li>{{meetingroom-listing meetingroom=meetingroom}}</li>
    {{/each}}
  </ul>
{{/meetingroom-filter}}